
<div class="columns is-mobile">
	<div class="column">
		<h3 class="title">
			Inscripcion para asociarse al club  
		</h3>
		<form class="form-control" [formGroup]="profileForm" (submit)="sendInfo($event)">
			<ul>
				<li class="field">
					<label >Nombre <span>*</span> </label>
					<input formControlName="name" class="input" type="text" placeholder="Name">
				</li>
				<li class="field">
					<label >Apellido <span>*</span> </label>
					<input formControlName="lastname" class="input" type="text" placeholder="Last Name">
				</li>
					<li class="field">
					<label >Dirección <span>*</span> </label>
					<input formControlName="adress" class="input" type="text" placeholder="Dirección">
				</li>
				<li class="field">
					<label >Teléfono<span>*</span> </label>
					<input formControlName="telephone" class="input" type="number" placeholder="Telefono">
				</li>
				<li class="field">
					<label >Email<span>*</span> </label>
					<input formControlName="email" class="input" type="email" placeholder="Email">
				</li>
				<li class="field">
					<label class="file-label">
						<input class="file-input" formControlName="file" type="file" name="avatar" (change)="addFiles($event)">
						<span class="file-cta" [ngClass]="{'has-background-success has-text-white': isUploaded}">
							<span class="file-icon">
								<i class="fas fa-upload"></i>
							</span>
							<span class="file-label">
								Subir foto *
							</span>
						</span>
					</label>
				</li>
				<li class="field">
					<button [disabled]="!profileForm.valid" class="button is-primary" type="submit" >Enviar</button>
				</li>
			</ul>
		</form>
	</div>
	<div class="column">
		<h3 class="title">Lista de socios</h3>
		<table class="table" *ngIf="listDataPartner.length > 0">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Dirección</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>Foto</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of listDataPartner">
					<td> {{ item.name }}</td>
					<td> {{ item.lastname }}</td>
					<td> {{ item.adress }}</td>
					<td> {{ item.telephone }}</td>
					<td> {{ item.email }}</td>
					<td> <img [src]="item.avatar" width="30px" alt=""></td>
					<td>
						<button class="button is-primary" (click)="editPartner(item)" >
							<span class="icon">
								<i class="fas fa-edit"></i>
							</span>
						</button>
					</td>
					<td>
						<button class="button is-danger" (click)="deletePartner(item)" >
							<span class="icon">
								<i class="fas fa-trash"></i>
							</span>
						</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>

