<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        List Clubs
    </h1>
</div>
<ul>
    <form class="form-control">
        <ul>
            <li>
                <input type="text" class="form-control">
            </li>
            <li>
                <input type="text" class="form-control">
            </li>
            <li>
                <input type="text" class="form-control">
            </li>
            <li>
                <input type="text" class="form-control">
            </li>
        </ul>
    </form>
</ul>

<router-outlet></router-outlet>
